* {
    margin: 0;
    border: 0;
    padding: 0;
}

.righteous-regular {
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: "Righteous", sans-serif;
    background-color: #000000; 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: background-image 0.4s ease-in-out;
    height: 100%;
    color: #fff;
}

label {
    color: #fff;
}

h2 {
    color: #fff;
}

header {
    position: relative;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding: 14px 0px;
}

nav {
    margin-top: 14px;
    margin-bottom: 12px;
    margin-left: 12px;
    margin-right: 12px;
    text-align: center;
    font-size: 1rem;
    word-spacing: 55px;
    padding-bottom: 2px;
}

button {
    padding: 12px;
    font-family: "Righteous", sans-serif;
    background-color: #0000006a;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin: 2px;
    font-size: 1rem;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.333);
}

.login {
    position: absolute;
    top: 15px;
    right: 20px;
}

button:hover {
    background-color: #6e5fe2;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    color: #6e5fe2;
}

.logo {
    width: 90%;
}

h5 {
    font-size: 2.6rem;
    color: #ffffff;
    text-shadow: 1px 1px 1px black;
}

p {
    color: white;
    text-shadow: 1px 1px 1px black;
    font-size: 1.6rem;
}

.container {
    margin-top: 22vh;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.grid div {
    text-align: center;
    padding: 10px;
}

.logo {
    max-width: 100%;
}

.grid .conteudo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.botao-conteudo {
    margin-top: 20px;
}

@media (max-width: 660px) {
    .login {
        position: static;
    }
    .grid {
        grid-template-columns: 1fr;
    }
    nav {
        word-spacing: 42px;
        margin-right: 0px
    }
    .container {
        margin-top: 10vh;
    }
}