* {
    margin: 0;
    border: 0;
    padding: 0;
}

.righteous-regular {
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

body {
    font-family: "Righteous", sans-serif;
    background: linear-gradient(rgba(28, 10, 41, 0.274), rgba(0, 0, 0, 0.9)), url(img/fundo.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    color: #fff;
}

label {
    color: #fff;
}

h2 {
    color: #fff;
}

header {
    text-align: center;
    background-color: rgb(28, 10, 41);
    color: rgb(255, 255, 255);
    width: 100%;
    padding: 14px 0px;
}

nav {
    margin-left: 12px;
    margin-right: 12px;
    text-align: center;
    font-size: 1rem;
    word-spacing: 45px;
    padding-bottom: 2px;
}

.login {
    padding: 10px;
    font-family: "Righteous", sans-serif;
    background-color: #b2b2b22e;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin: 2px;
}

.login:hover {
    background-color: #6e5fe2;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    color: #6e5fe2;
}

@media(min-width: 280px) and (max-width: 500px) {
    .imagens-site {
        border-radius: 20px;
        width: 90%;
        height: 30%;
    }
}

.logo {
    width: 80%;
}

h5 {
    font-size: 2.2rem;
    color: #ffffff;
    text-shadow: 1px 1px 1px black;
}

p {
    color: white;
    text-shadow: 1px 1px 1px black;
}

.container {
    margin-top: 24vh;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.grid div {
    text-align: center;
    padding: 10px;
}

.grid .logo {
    max-width: 100%;
}

.grid .conteudo-texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

@media (max-width: 768px) {
    .grid {
        grid-template-columns: 1fr;
    }
}
